<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Thymeleaf 3 + Spring 4 example</title>
    <script type="application/javascript" th:src="@{http://code.jquery.com/jquery-3.1.0.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>


    <script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: 'top'"></div>
<div class="container">


    <div th:object="${message}">    <!--  th:each="current : ${travelList}" -->
        <h3>Wiadomość</h3>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="item-container">
                    <div class="container">


                        <div class="col-md-12">
                            <!--<div sec:authorize="hasRole('ADMIN')">-->
                            <!--<a th:href="@{/travel/edit(travelId=${travel.id})}">Edytuj</a> |-->
                            <!--<a th:href="@{/travel/delete(travelId=${travel.id})}">Usuń</a> |-->
                            <!--<a th:href="@{/travel/new}">Dodaj wycieczkę</a>-->
                            <!--</div>-->
                            <div class="product-title">
                                <p th:text="'Wiadomość: ' + ${message.topic}"></p>
                            </div>
                            <div class="product-desc">
                                <p th:text="'Od:' + ${message.fromName}"></p>
                            </div>
                            <div class="product-desc">
                                <p th:text="'Nadana:' + ${message.date}"></p>
                            </div>
                            <div class="product-desc">
                                <p th:text="'Dotyczy wycieczki:' + ${message.travelName}"></p>
                            </div>
                            <!--<script th:inline="javascript">-->

                            <!--$(document).ready(function () {-->
                            <!--var message = [[${travel.mainRate}]];-->
                            <!--var starOn = '<i class="fa fa-star gold"></i>';-->
                            <!--var starOff = '<i class="fa fa-star-o"></i>';-->
                            <!--for (var i = 1; 6 > i; ++i) {-->
                            <!--if (message > i) {-->
                            <!--$(".product-rating").append(starOn);-->
                            <!--} else {-->
                            <!--$(".product-rating").append(starOff)-->
                            <!--}-->
                            <!--}-->
                            <!--});-->
                            <!--</script>-->

                            <!--<div th:if="${travel.mainRate} << 4" class="label label-warning"-->
                            <!--th:text="#{travel.onestar}"></div>-->
                            <!--<div class="product-stock">In Stock</div>-->
                            <hr/>
                            <!--<div class="btn-group cart">-->
                            <!---->
                            <!--</div>-->
                            <!--<div class="btn-group wishlist">-->
                            <!--<button type="button" class="btn btn-danger">-->
                            <!--Add to wishlist-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">


                <div class="container-fluid">
                    <div class="col-md-12 product-info">
                        <ul id="myTab" class="nav nav-tabs nav_tabs">

                            <li class="active">
                                <a href="#service-one" data-toggle="tab">Treść wiadomości</a>
                            </li>
                            <li>
                                <a th:href="@{/message/new(userId=${message.from}, travelId=${message.travelId})}">Odpowiedz</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="service-one">

                                <section class="container product-info">
                                    <h3>Treść:</h3>

                                    <p th:text="${message.message}"></p>

                                </section>

                            </div>


                            <div class="tab-pane fade" id="service-two">

                                <!--<section class="container">-->
                                    <!--&lt;!&ndash;<button type="button" class="btn btn-success">&ndash;&gt;-->
                                        <!--&lt;!&ndash;Odpowiedz&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->



                                 <!---->
                                    <!--<a >dupa</a>-->
                                <!--</section>-->

                            </div>
                            <div class="tab-pane fade" id="service-three">

                            </div>
                        </div>

                    </div>
                </div>

                <!--<div class="container-fluid">-->
                <!--<div class="col-md-12 product-info">-->
                <!--<ul id="myTab" class="nav nav-tabs nav_tabs">-->

                <!--<li class="active"><a href="#service-one" data-toggle="tab">Opinie o wycieczce</a></li>-->
                <!--&lt;!&ndash;<li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>&ndash;&gt;-->
                <!--</ul>-->
                <!--<div id="myTabContent" class="tab-content">-->
                <!--<div class="tab-pane fade in active" id="service-one">-->


                <!--<form method="post" action="#" th:action="@{/travel/rate}" role="form"-->
                <!--th:object="${data}">-->
                <!--<input type="hidden" th:value="*{travelId}" th:field="*{travelId}"/>-->

                <!--<h2>-->
                <!--<p th:text="#{rating.info}"></p>-->
                <!--</h2>-->

                <!--<div class="form-group">-->
                <!--<input type="range" name="points" min="1" max="5" th:field="*{rating}"/>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<input class="form-control" type="text" th:placeholder="#{rating.comment}"-->
                <!--th:field="*{comment}"/>-->
                <!--<p class="text-danger" th:if="${#fields.hasErrors('comment')}"-->
                <!--th:errors="*{comment}"></p>-->
                <!--</div>-->

                <!--<input class="btn" type="submit" value="submit"/>-->
                <!--</form>-->


                <!--<section class="container product-info">-->
                <!--&lt;!&ndash;<p th:text="${travel.description}"></p>&ndash;&gt;-->


                <!--<div th:each="current : ${ratingsList}">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading"><p-->
                <!--th:text="'Opinia Klienta: '+${current.userId}"></p></div>-->


                <!--<div class="panel-body">-->
                <!--<input type="hidden" th:value="${current.id}"/>-->
                <!--<p th:text="'Wycieczka: '+${current.travelId}"></p>-->
                <!--<p th:text="'Ocena: '+${current.rating}"></p>-->
                <!--<p th:text="'Komentarz: '+${current.comment}"></p>-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->

                <!--</div>-->


                <!--<div class="tab-pane fade" id="service-two">-->

                <!--<section class="container">-->

                <!---->
                <!--DUPA-->
                <!--</section>-->

                <!--</div>-->
                <!--<div class="tab-pane fade" id="service-three">-->

                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

            </div>

            <div class="panel-footer">
                <!--<form method="post" action="#" th:action="@{/travel/rate(travelId=${travel.id})}" role="form" th:object="${data}">-->
                <!--<h2>Add travel-->
                <!--<small th:text="#{travel.info}"></small>-->
                <!--</h2>-->
                <!---->
                <!--<div class="form-group">-->
                <!--<input type="range" name="points" min="1" max="5" th:field="*{rating}"/>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<input class="form-control" type="text" th:placeholder="#{ratings.comment}"-->
                <!--th:field="*{comment}"/>-->
                <!--<p class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></p>-->
                <!--</div>-->

                <!--<input class="btn" type="submit" value="submit"/>-->
                <!--</form>-->
                <div th:replace="fragments/footer :: 'footer'"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: 'footer'"></div>
</body>
</html>
