<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Thymeleaf 3 + Spring 4 example</title>
    <script type="application/javascript" th:src="@{http://code.jquery.com/jquery-3.1.0.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header :: 'top'"></div>


<!--<div th:each="current : ${travelList}">    &lt;!&ndash; th:object="${travelList}" &ndash;&gt;-->
<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="panel-heading">Panel heading</div>-->
<!--<div class="panel-body">-->
<!--<ul>-->
<!--<li th:text="${current.hotel}"></li>-->
<!--<li th:text="${current.curort}"></li>-->
<!--<li th:text="${current.country}"></li>-->
<!--<li th:text="${current.startDate}"></li>-->
<!--<li th:text="${current.price}"></li>-->
<!--<li th:text="${current.stay}"></li>-->
<!--<li th:text="${current.food}"></li>-->
<!--<li th:text="${current.description}"></li>-->
<!--</ul>-->
<!--<img th:src="@{${current.photoUrl}}"/>-->
<!--</div>-->
<!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--<div class="panel-footer">-->
<!--<a th:href="@{/travel/getTravel(travelId=${current.id})}">Zobacz peły opis wycieczki</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="panel panel-default">
    <div class="panel-body" th:each="current : ${travelList}">
        <hr/>
        <div class="item-container">
            <div class="container">    <!--th:object="${travel}"-->

                <div class="col-md-7">

                    <div class="pull-left">
                        <center>
                            <img th:src="@{${current.photoUrl}}" width="610px"/>
                        </center>
                    </div>
                </div>

                <div class="col-md-5">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/travel/edit(travelId=${current.id})}">Edytuj</a> |
                        <a th:href="@{/travel/delete(travelId=${current.id})}">Usuń</a> |
                        <a th:href="@{/travel/new}">Dodaj wycieczkę</a>
                    </div>
                    <div class="product-title">
                        <p th:text="${current.hotel}"></p>
                    </div>
                    <div class="product-desc">
                        <p th:text="${current.country}+' | '+${current.curort}"></p>
                    </div>

                    <!--<script th:inline="javascript">-->

                    <!--$(document).ready(function(){-->
                    <!--var message = [[${travel.mainRate}]];-->
                    <!--var starOn = '<i class="fa fa-star gold"></i>';-->
                    <!--var starOff = '<i class="fa fa-star-o"></i>';-->
                    <!--for(var i = 1; 6 > i; ++i ){-->
                    <!--if(message > i) {-->
                    <!--$(".product-rating").append(starOn);-->
                    <!--} else {-->
                    <!--$(".product-rating").append(starOff)-->
                    <!--}-->
                    <!--}-->
                    <!--});-->
                    <!--</script>-->
                    <div class="product-rating"></div>
                    <hr/>
                    <div class="product-price"><p th:text="'Cena: '+${current.price}+' zł'"></p></div>
                    <!--<div class="product-stock">In Stock</div>-->
                    <div class="btn-group cart">
                        <a th:href="@{/cart/new(travelId=${current.id})}">
                            <button type="button" class="btn btn-success">
                                Kup tą wycieczkę
                            </button>
                        </a>
                    </div>
                    <hr/>


                    <div class="btn-group wishlist">
                        <a th:href="@{/travel/getTravel(travelId=${current.id})}">
                            <button type="button" class="btn btn-danger">
                                Zobacz peły opis wycieczki
                            </button>
                        </a>
                    </div>
                    <div class="btn-group cart">
                        <a th:href="@{/message/new(userId=${null}, travelId=${current.id})}">
                            <button type="button" class="btn btn-success">
                                Zadaj pytanie o tą wycieczkę
                            </button>
                        </a>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: 'footer'"></div>
</body>
</html>
